<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg container-fluid">
            <div class="homeDiv center container">
                <h1 class="titleMain cenX">ELECTRONICS</h1>

                <div class="row rowBackSS"></div>
                <h3 class="subTitle"> ARDUINO | ROBOTICS | Lithography</h3>
            </div>

            <div class="homeSouth">
                <h4><a class="subTitle noColor" href="#">VIEW PROJECTS</a></h4>
                <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow.png" width="30"/></button>
            </div>
        </div>

        <a class="anchor" id="top"></a>

        <div class="container-fluid sec temp">
            <div class="container">

                <div class="borderProj">
                    <a href="#" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="/images/IMG_1718.jpg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Crash Detection System</h3>
                                <p class="subP pad0 italic">easy and cheap</p>
                                 <p class="subP desc" data-desc="discharge-protection-circuit">
                                 </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="#" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="air-conditioner-DIY/images/me-wiring.jpg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">ROBO RACER</h3>
                                 <p class="subP desc" data-desc="air-conditioner-DIY"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

            <div class="container-fluid backDark sec">
                <div class="container">
                    <h3 class="subTitle white">MY GOAL</h3>
                    <p class="subText white extPad">I want to learn lithography and understand the complex process
                        chip making.</p>
                </div>
            </div>

        <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="leftCenter">
                            <h3 class="sub2">CONTRIBUTE</h3>
                            <p class="subText">Take part in the project</p>
                            <a class="btn btn-secondary btn-lg w100" href="/contact" role="button">Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include(rootPath + 'partials/footer'); %>
        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
    </body>
</html>
