<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg container-fluid">
            <div class="homeDiv center container">
                <h1 class="titleMain cenX">CODE REPOSITORY</h1>

                <div class="row rowBackSS"></div>
                <h3 class="subTitle" id="here">Nodejs | C | Python and Machine Learning | WEB</h3>
            </div>

            <div class="homeSouth">
                <h4><a class="stealthLink subTitle pad0" href="#">VIEW PROJECTS</a></h4>
                <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow.png" width="30"/></button>
            </div>
        </div>

        <a class="anchor" id="top"></a>

        <div class="container-fluid sec temp">
            <div class="container">
                <div class="borderProj">
                    <a href="" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="timelapse-auto-ramp/results/thumbs/sunset-cmp.jpg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Develop API for various domain | Nodejs</h3>
                                <p class="subP pad0 italic">A tour site api</p>
                                <!-- <?php
                                    $content = "Identifies exposure changes over a sequence of images, and evenly applies offset
                                    calculations to combat exposure changes. Creating a perfectly exposed timelapse video suitable for
                                    difficult lighting conditions such as sunrise";

                                    $content = substr($content, 0, 302) . " ...";

                                    echo '<p class="subP desc" data-desc="timelapse-auto-ramp">' . $content . '</p>';

                                 ?> -->
                                 <p class="subP desc" data-desc="timelapse-auto-ramp"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="images/standard-fix.gif" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">Hostel Management System| C</h3>
                                <!-- <?php
                                    $content = "Developed dynamic map creation system from scratch, created visualization
                                    (Swing GUI) to display live data, animation, speed control and timed algorithm analysis";

                                    $content = substr($content, 0, 302) . " ...";

                                    echo '<p class="subP desc">' . $content . '</p>';
                                 ?> -->
                                 <p class="subP desc" data-desc="pathfinding"></p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid backDark sec">
            <div class="container">
                <h3 class="subTitle white">MY GOAL</h3>
                 <p class="subText white extPad">
                     I want to learn MERN stack and Machine learning.</p>
            </div>
        </div>

        <div class="container-fluid sec">
            <div class="container">
                <h3 class="subTitle">TECHNICAL SKILLS</h3>
                <h3 class="subTitle">C,C++</h3>
                <p class="subP">My first programming language.<br/><br/>
                    I learned javascript,nodejs ,express,mongodb and start making API<a href="/software#top">here.</a></p>
            </div>

            <div class="container">
                <h3 class="subTitle">C,C++</h3>
                <p class="subP">I learned basic data structure and algorithm using C++ and learnt various 
                    object oriented concept</p>
            </div>

            <div class="container">
                <h3 class="subTitle">Python</h3>
                <p class="subP">I learned various concept in python and learned pandas,numpy,matplotlib and learnt various
                    machine learning algorithm.</p>

            </div>

            <div class="container">
                <h3 class="subTitle">HTML, CSS, JAVASCRIPT, BOOTSTRAP</h3>
                <p class="subP">Learnt HTML,CSS,JAVASCRIPT from scratch.</p>
            </div>
        </div>

        <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2">FOUND A BUG?</h3>
                            <p class="subText">Let me know</p>
                            <a class="btn btn-success btn-lg w100" href="https://github.com/DevonCrawford" role="button">Github</a>
                        </div>
                    </div>
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2">CONTRIBUTE</h3>
                            <p class="subText">Take part in the project</p>
                            <a class="btn btn-secondary btn-lg w100" href="/contact" role="button">Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include(rootPath + 'partials/footer'); %>
        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
    </body>
</html>
