<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">NABARAJ SUBEDI</h1>
            <h3>an electronics and information student enthusiast in programming</h3>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>

    <div class="container-fluid aboutMe" >
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="/images/IMG_1964_zip.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">Welcome to my website. I am an electronics and programming enthusiast currently 
                        studying Electronics and Information at third year . I have done some projects on nodejs on making 
                    Tour API,Ecommerce API,</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">SOFTWARE</h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">Nodejs</h3>
                    <h5 class="tileDesc subPmin white">Develop APIs for various domain</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/timelapse-auto-ramp"><p style="border-width:0px" id="PSDPlug">Tour site API</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="/software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">C,C++</h3>
                    <h5 class="tileDesc subPmin white">wrote various low level algorithms using c and learnt object oriented programming 
                        using c++
                    </h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/pathfinding"><p style="border-width:0px" id="pathLink">Hostel management system</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">Machine Learning</h3>
                    <h5 class="tileDesc subPmin white">Learnt python,panda,matplotlib,numpy,
                        seaborn,sciktlearn,keras,tensorlow and wrote various 
                        machine learning algortihm
                    </h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="electronics/air-conditioner-DIY"><p style="border-width:0px">Object Detection using Opencv</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="electronics#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">WEB</h3>
                    <h5 class="tileDesc subPmin white">Experience with HTML, CSS, Javascript 
                    to create responsive website</h5>
                </div>
                <a class="btn btn-outline-secondary btn-lg centerBtn" href="software" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <div class="container-fluid electronicsBack">
        <div class="container extraSpace">
            <h2 class="centerTitle subTitle padX0 padtop0">ELECTRONICS</h2>
            <div class="row">
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class= "cenX subTitle padX0">Line Following Robot</h3>
                        <h5 class="tileDesc subPmin">Using Arduino UNO and led sensor , a robot follow the track and 
                            move.</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">Robo Racer</h3>
                        <h5 class="tileDesc subPmin">A car that passes through various obstacles and completes challenges

                        </h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">Crash Detection System</h3>
                        <h5 class="tileDesc subPmin">Sytem that automatically detect accident and 
                            sends sms to nearest hospital

                        </h5>
                    </div>
                </div>
                <a class="btn btn-secondary btn-lg centerBtn" href="electronics" role="button">Learn More</a>

            </div>
        </div>
    </div>



    
    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
